<div class="col-md-5">
  <div class="card shadow">
    <div class="card-body">
      <form [formGroup]="userAccountRegister" (ngSubmit)="register()">
        <div class="mb-3">
          <h4 class="text-dark text-muted">Register</h4>
        </div>
        <!-- First Name -->
        <label class="form-label">First Name</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" formControlName="fName" />
        </div>

        <!-- Last Name -->
        <label class="form-label">Last Name</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" formControlName="lName" />
        </div>

        <!-- Email -->
        <label class="form-label">Email</label>
        <div class="input-group mb-3">
          <input type="email" class="form-control" formControlName="email" />
        </div>

        <!-- Password -->
        <label class="form-label">Password</label>
        <div class="input-group mb-3">
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!userAccountRegister.valid"
        >
          Register
        </button>

        <div class="row">
          <a routerLink="/login" style="text-decoration: none"
            >Have an Account? <span class="text-danger">Login</span>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
