<div class="card shadow-sm">
  <div class="card-body">
    <div class="card-title">
      <h3>Add Additional Income Source(s)</h3>
      <hr />
    </div>

    <form [formGroup]="incomeForm" (ngSubmit)="onAddIncome()">
      <!-- Date -->
      <h6>Date</h6>
      <div class="input-group mb-3">
        <input type="date" class="form-control" formControlName="date" />
        @if (incomeForm.controls.date.touched &&
        incomeForm.controls.date.errors?.['required']) {
        <div class="text-danger">Date is required</div>
        } @if (incomeForm.controls.date.touched &&
        incomeForm.controls.date.errors?.['fourDigitYear']) {
        <div class="text-danger">
          Please enter the date with a four-digit year
        </div>
        }
      </div>

      <!-- Source -->
      <h6>Type</h6>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          aria-label="Amount"
          placeholder="(Paychecks, Side Hustles, Venmo, etc.)"
          formControlName="source"
        />
        @if (incomeForm.controls.source.touched &&
        incomeForm.controls.source.errors?.['required']) {
        <div class="text-danger">Source is required</div>
        }
      </div>

      <!-- Amount -->
      <h6>Amount</h6>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input
          type="number"
          class="form-control"
          aria-label="Amount"
          placeholder="1234.56  |  Note: DO NOT USE A '$'"
          formControlName="amount"
        />
        @if (incomeForm.controls.amount.touched &&
        incomeForm.controls.amount.errors?.['required']) {
        <div class="text-danger">Amount is required</div>
        } @if (incomeForm.controls.amount.touched &&
        incomeForm.controls.amount.errors?.['min']) {
        <div class="text-danger">Amount must be greater than 0</div>
        }
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!incomeForm.valid"
      >
        <p class="my-1">Add Income Source</p>
      </button>
    </form>
  </div>
</div>
