<div class="container">
  <div class="row my-4">
    <!-- Add Expense Section -->
    <div class="col-lg-6 mb-4">
      <app-add-expense></app-add-expense>
    </div>

    <!-- Expense List Section -->
    <div class="col-lg-6 mb-4">
      <app-expense-list></app-expense-list>
    </div>
  </div>

  <!-- Totals Section -->
  <div class="row my-4">
    <div class="col-12">
      <h3>Total Expenses</h3>
      <div class="card">
        <div class="card-body">
          <p>
            <strong>Monthly Total Expenses:</strong>
            {{ monthlyExpense | currency }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
