<div class="container" *ngIf="userData">
  <!-- About me Section -->
  <div class="row my-4">
    <div class="card border-0">
      <div class="card-body">
        <div class="card-title">
          <h3>About me</h3>
          <hr />
        </div>

        <!-- Legal Name Field -->
        <div class="row text-center mb-3">
          <h6 class="col">Legal name</h6>
          <p class="col text-end" *ngIf="editingField !== 'legalName'">
            {{ userData.fname }} {{ userData.lname }}
          </p>
          <input
            *ngIf="editingField === 'legalName'"
            type="text"
            [(ngModel)]="updatedValue"
            class="col text-end"
          />
          <div class="col">
            <button
              *ngIf="editingField !== 'legalName'"
              class="btn btn-primary btn-sm"
              (click)="startEditing('legalName')"
            >
              Update
            </button>
            <button
              *ngIf="editingField === 'legalName'"
              class="btn btn-success btn-sm"
              (click)="saveEdit()"
            >
              Save
            </button>
          </div>
        </div>

        <!-- Annual Income Field -->
        <div class="row text-center mb-3">
          <h6 class="col">Annual Income</h6>
          <p class="col text-end" *ngIf="editingField !== 'yearlyIncome'">
            {{ userData.yearlyIncome | currency }}
          </p>
          <input
            *ngIf="editingField === 'yearlyIncome'"
            type="number"
            [(ngModel)]="updatedValue"
            class="col text-end"
          />
          <div class="col">
            <button
              *ngIf="editingField !== 'yearlyIncome'"
              class="btn btn-primary btn-sm"
              (click)="startEditing('yearlyIncome')"
            >
              Update
            </button>
            <button
              *ngIf="editingField === 'yearlyIncome'"
              class="btn btn-success btn-sm"
              (click)="saveEdit()"
            >
              Save
            </button>
          </div>
        </div>

        <!-- Savings Goal Display -->
        <!-- Savings Goal Section -->
        <div class="row text-center mb-3">
          <h6 class="col">Savings Goal (50% of Yearly Income)</h6>
          <p class="col text-end" *ngIf="editingField !== 'savingsGoal'">
            ${{ savingsGoal | number : "1.2-2" }}
          </p>
          <input
            *ngIf="editingField === 'savingsGoal'"
            type="number"
            [(ngModel)]="updatedValue"
            class="col text-end"
          />
          <div class="col">
            <button
              *ngIf="editingField !== 'savingsGoal'"
              class="btn btn-primary btn-sm"
              (click)="startEditing('savingsGoal')"
            >
              Update
            </button>
            <button
              *ngIf="editingField === 'savingsGoal'"
              class="btn btn-success btn-sm"
              (click)="saveEdit()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact Info Section -->
  <div class="row my-4">
    <div class="card border-0">
      <div class="card-body">
        <div class="card-title">
          <h3>Contact Info</h3>
          <hr />
        </div>

        <!-- Email Address Field -->
        <div class="row text-center mb-3">
          <h6 class="col">Email Address</h6>
          <p class="col text-end" *ngIf="editingField !== 'email'">
            {{ userData.email }}
          </p>
          <input
            *ngIf="editingField === 'email'"
            type="email"
            [(ngModel)]="updatedValue"
            class="col text-end"
          />
          <div class="col">
            <button
              *ngIf="editingField !== 'email'"
              class="btn btn-primary btn-sm"
              (click)="startEditing('email')"
            >
              Update
            </button>
            <button
              *ngIf="editingField === 'email'"
              class="btn btn-success btn-sm"
              (click)="saveEdit()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Logout Button -->
  <div class="row my-4">
    <div class="col text-center">
      <button class="btn btn-outline-success" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
