<div class="container" *ngIf="userData">
  <!-- About Me -->
  <div class="row my-4">
    <div class="card border-0">
      <div class="card-body">
        <div class="card-title">
          <h3>About me</h3>
          <hr />
        </div>

        <div class="row text-center">
          <h6 class="col">Legal name</h6>
          <p class="col text-end">{{ userData.fname }} {{ userData.lname }}</p>
          <div class="col">
            <button class="btn btn-primary btn-sm">Update</button>
          </div>
        </div>

        <div class="row text-center">
          <h6 class="col">Annual Income</h6>
          <p class="col text-end">--</p> <!-- Update when this field is added -->
          <div class="col">
            <button class="btn btn-primary btn-sm">Update</button>
          </div>
        </div>

        <div class="row text-center">
          <h6 class="col">Budget Plan</h6>
          <p class="col text-end">--</p> <!-- Update when this field is added -->
          <div class="col">
            <button class="btn btn-primary btn-sm">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div class="row">
    <div class="card border-0">
      <div class="card-body">
        <div class="card-title">
          <h3>Contact Info</h3>
          <hr />
        </div>

        <div class="row text-center">
          <h6 class="col">Phone Number</h6>
          <p class="col text-end">--</p> <!-- Update when this field is added -->
          <div class="col">
            <button class="btn btn-primary btn-sm">Update</button>
          </div>
        </div>

        <div class="row text-center">
          <h6 class="col">Email Address</h6>
          <p class="col text-end">{{ userData.email }}</p>
          <div class="col">
            <button class="btn btn-primary btn-sm">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
