<div class="container">
  <div class="row my-4">
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="card-title">
            <h3>Add Income</h3>
            <hr />
          </div>

          <h6>Date</h6>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="MM/DD/YYYY"
              #date
            />
          </div>
          <h6>Source</h6>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              aria-label="Amount"
              placeholder="(Primary Income, Secondary Income, Venmo, etc.)"
              #source
            />
          </div>
          <h6>Amount</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Amount"
              placeholder="1234.56  |  Note: DO NOT USE A '$'"
              #amount
            />
          </div>

          <button
            class="btn btn-primary"
            (click)="onAddIncome(date.value, source.value, amount.value)"
          >
            <p class="my-1">Add Income</p>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="card-title">
            <h3>List of Income</h3>
            <hr />
          </div>
        </div>
        <div class="container">
          <div class="row mx-1">
            <div class="col-sm">
              <p>Date</p>
            </div>
            <div class="col-sm">
              <p>Source</p>
            </div>
            <div class="col-sm">
              <p>Amount</p>
            </div>
            <hr />
          </div>
          @for (income of incomeList; track $index) {
          <div class="row mx-1">
            <div class="col-sm">
              <p>{{ income.date }}</p>
            </div>
            <div class="col-sm">
              <p>{{ income.source }}</p>
            </div>
            <div class="col-sm">
              <p>${{ income.amount }}</p>
            </div>
            <hr />
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
